@media screen and (max-height:1000px){
  
.base{
  width:170px;
  height:70px;
  background-color:#505050;
  margin-top:17.5%;
  border:5px solid #ffffff;
}

#prueba{
  text-align:center;
  text-transform:uppercase;
  cursor:default;
  width:150px;
  position:relative;
  top:10px;
}

#boton{
  position:relative;
  width:158px;
  top:20px;
}
  
}
